@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.DateOfBirth</td>
            </tr>
        }

    </tbody>
</table>